In [ ]:
#1.	Write a Python program to sum all the elements in a list.
my_list=[2,4,7,8,12,24]
print(sum(my_list))

57

In [ ]:
#2.	Write a Python program to find the largest element in a list.
max(my_list)

24

In [ ]:
#3.	Write a Python program to count the number of elements in a list.
len(my_list)

6

In [ ]:
#4.	Write a Python program to find the average of elements in a list.
average=sum(my_list)/len(my_list)
print(average)

9.5

In [ ]:
#5.	Write a Python program to reverse a list.
sorted(my_list,reverse=1)

[24, 12, 8, 7, 4, 2]

In [ ]:
#6.	Write a Python program to check if a given element exists in a list.
a=8
if a in my_list:
  print("true")
else:
  print("false")

true

In [ ]:
#7.	Write a Python program to remove duplicate elements from a list.
ml=[2,4,5,3,2,1,1,]
unique_list=set(ml)
print(unique_list)

{1, 2, 3, 4, 5}

In [ ]:
#8.	Write a Python program to find the second largest element in a list.
ml=sorted(ml)
print(ml[-2])

4

In [ ]:
#9.	Write a Python program to sort elements in a list in ascending order.
sorted(my_list)

[2, 4, 7, 8, 12, 24]

In [ ]:
#10.	Write a Python program to merge two lists and sort them.
l1=[2,3,4,5]
l2=[33,22,44]
l1.append(l2)
print(l1)

[2, 3, 4, 5, [33, 22, 44]]

In [ ]:
#11.	Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list_row[2][2]

9

In [ ]:
#12.Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list_column[2][1]

8

In [ ]:
#13 How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]]
nested_list_column[2][3][3]

100

In [ ]:
#14 How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]]
nested_list_column[-1][-1][-1]

100