In [ ]:
import pandas as pd
import numpy as np
imdb_df = pd.read_csv('/content/drive/MyDrive/pandas/imdb_data.csv')
imdb_df

In [ ]:
imdb_df.shape

In [ ]:
df=imdb_df.copy()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.iloc[1:20,1:2]

In [ ]:
df.loc[50:55,['cast','budget','runtime']]

In [ ]:
df[0:10]

In [ ]:
df[['original_language','release_date','cast']]

In [ ]:
df.columns

In [ ]:
df['original_language']=='en'

0        True
1        True
2        True
3       False
4       False
        ...
2995     True
2996    False
2997     True
2998     True
2999     True
Name: original_language, Length: 3000, dtype: bool

In [ ]:
english_movies=df[df['original_language']=='en']
english_movies.head()
english_movies.shape

In [ ]:
long_movies = df[df['runtime'] > 120]
long_movies[['title','cast','runtime']]

In [ ]:
long_english_movies = df[(df['original_language']=='en') & (df['runtime'] > 120)]
long_english_movies.head()

In [ ]:
long_english_movies.shape

(506, 23)

In [24]:
#1: Creating DataFrame Create a DataFrame named df with the following data:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda', 'Michael'],
        'Age': [28, 35, 29, 42, 45],
        'City': ['New York', 'Paris', 'Berlin', 'London', 'Tokyo'],
        'Salary': [50000, 60000, 55000, 70000, 65000]}
df = pd.DataFrame(data)

In [ ]:
#2: Accessing DataFrame Given the DataFrame df from Question 1, access and print the first two rows.
df.head(2)

In [ ]:
#3: Shape of DataFrame Given the DataFrame df from Question 1, print the shape of the DataFrame
df.shape

In [ ]:
# 4: Data Types Given the DataFrame df from Question 1, print the data types of each column.
df.dtypes

In [ ]:
#5: Summary Statistics Given the DataFrame df from Question 1, print the summary statistics (mean, min, max, etc.) for numeric columns
df.describe()

In [ ]:
#6: Adding a New Column Given the DataFrame df from Question 1, add a new column named 'Gender' with values ['Male', 'Female', 'Male', 'Female'].
df['gender']=['Male', 'Female', 'Male', 'Female']
df

In [ ]:
#7: Filtering Data Given the DataFrame df from Question 1, filter and print the rows where Age is greater than 30.
print(df[df['Age']>30])

In [ ]:
#8: Sorting Data Given the DataFrame df from Question 1, sort the DataFrame by Age in descending order and print the result.
sorted_df=df.sort_values(by='Age',ascending=False)
sorted_df

In [ ]:
#9: Missing Values Create a DataFrame named df_missing with the following data:
data_missing = {'Name': ['John', 'Anna', None, 'Linda', 'Michael'],
                'Age': [28, 35, None, 42, 45],
                'City': ['New York', 'Paris', 'Berlin', 'London', 'Tokyo'],
                'Salary': [50000, 60000, 55000, None, 65000]}
df_missing = pd.DataFrame(data_missing)
df_missing

      Name   Age      City   Salary
0     John  28.0  New York  50000.0
1     Anna  35.0     Paris  60000.0
2     None   NaN    Berlin  55000.0
3    Linda  42.0    London      NaN
4  Michael  45.0     Tokyo  65000.0

In [ ]:
#10: Handling Missing Values Given the DataFrame df_missing from Question 9, replace missing values in the 'Age' column with the mean age of the other records and print the result.
mean_age = df_missing['Age'].mean()
df_missing['Age'].fillna(mean_age, inplace=True)
print(df_missing)

      Name   Age      City   Salary
0     John  28.0  New York  50000.0
1     Anna  35.0     Paris  60000.0
2     None  37.5    Berlin  55000.0
3    Linda  42.0    London      NaN
4  Michael  45.0     Tokyo  65000.0

In [ ]:
#11: Grouping Data Given the DataFrame df from Question 1, group the data by 'City' and calculate the mean age for each city.
mean_age_by_city = df.groupby('City')['Age'].mean()
print(mean_age_by_city)

City
Berlin      29.0
London      42.0
New York    28.0
Paris       35.0
Tokyo       45.0
Name: Age, dtype: float64

In [14]:
#12: Merging DataFrames Create two DataFrames named df1 and df2 as follows:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})
df3=pd.merge(df1,df2,how='outer')
print(df3)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [19]:
#13: Dropping Columns Given the DataFrame df from Question 1, drop the 'City' column and print the result.
drop=df.drop(columns=['City'])
print(drop)

      Name  Age  Salary
0     John   28   50000
1     Anna   35   60000
2    Peter   29   55000
3    Linda   42   70000
4  Michael   45   65000

In [22]:
#14: Renaming Columns Given the DataFrame df from Question 1, rename the columns to 'Full Name', 'Years Old', and 'Location' and print the result.
df.rename(columns={'Name': 'Full Name', 'Age': 'Years Old', 'Salary': 'Location'})
print(df)

  Full Name  Years Old      City  Location
0      John         28  New York     50000
1      Anna         35     Paris     60000
2     Peter         29    Berlin     55000
3     Linda         42    London     70000
4   Michael         45     Tokyo     65000

In [25]:
#15: Indexing Given the DataFrame df from Question 1, set the 'Name' column as the index and print the result
new_df=df.set_index('Name')
print(new_df)

         Age      City  Salary
Name
John      28  New York   50000
Anna      35     Paris   60000
Peter     29    Berlin   55000
Linda     42    London   70000
Michael   45     Tokyo   65000

In [26]:
#16: Reset Index Given the DataFrame with the 'Age' column as the index, reset the index and print the result.
new_df=df.set_index('Age')
print(new_df)

        Name      City  Salary
Age
28      John  New York   50000
35      Anna     Paris   60000
29     Peter    Berlin   55000
42     Linda    London   70000
45   Michael     Tokyo   65000

In [27]:
#17: Unique Values Given the DataFrame df from Question 1, print the unique values in the 'City' column.
print(df['City'].unique())

['New York' 'Paris' 'Berlin' 'London' 'Tokyo']

In [28]:
# 18: Value Counts Given the DataFrame df from Question 1, print the value counts for the 'Age' column.
print(df['Age'].value_counts())

28    1
35    1
29    1
42    1
45    1
Name: Age, dtype: int64